<%= stylesheet_link_tag "application" %>
<h1>LISTSSSZZZZ</h1>
<br>
  <% @lists.each do |list| %>
    <%= link_to list.list_name.capitalize, list, class: "link-to" %>
    by <%= link_to list.user.username.capitalize, user_path(list.user_id), class: "link-to" %><br>
    <br>
  <% end %>
