<!-- <h1>Spoonify</h1> -->
<!-- <p>Favorite places to eat in one place!</p> -->
<!-- <p>Save all your favorite spots and find more places to eat!</p> -->
<%= button_to 'GET SPOONIFY', new_user_path, method: :get %>
<%= link_to 'Already a member? Login here!', login_path %>
