<%= stylesheet_link_tag "application" %>
<h4>You are currently following:</h4><br>
<br>

<% current_user.followeds.each do |followed| %>
  <%= link_to followed.username.capitalize, followed, class: "link-to" %><br>
  <br>
<% end %>
<br>
<br>
<%= button_to 'Back to profile', user_path(current_user), method: :get, class: "btn btn-primary", remote: true %>
