<%= stylesheet_link_tag "application" %>
<h1><%= current_user.username.capitalize %>'s Followers</h1>
<br>

<% current_user.followers.each do |follower| %>
  <p>__________________________________________________________</p>
  <%= link_to follower.username.capitalize, follower, class: "link-to"%><br>
  <p>__________________________________________________________</p>
  <br>
<% end %>

<%= button_to 'Back to profile', user_path(current_user), method: :get, class: "link-to", remote: true %>
